@font-face {
	font-family: "Piscolabis Regular";
	src: url("/fonts/Piscolabis-Regular.woff") format("woff"),
		url("/fonts/Piscolabis-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: regular;
	font-stretch: normal;
}
