html {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body[color-scheme="dark"] {
	--color-bg: var(--color-bg-dark);
	--color-bg-secondary: var(--color-bg-secondary-dark);
	--color-heading: var(--color-heading-dark);
	--color-text: var(--color-text-dark);
	--color-claim: var(--color-claim-dark);
}
body[color-scheme="light"] {
	--color-bg: var(--color-bg-light);
	--color-bg-secondary: var(--color-bg-secondary-light);
	--color-heading: var(--color-heading-light);
	--color-text: var(--color-text-light);
	--color-claim: var(--color-claim-light);
}

body {
	overflow-x: hidden;
	background-color: var(--color-bg);
	color: var(--color-text);
}

img,
svg {
	display: block;
}

svg {
	overflow: visible;
}
