.typo {
	&--logo {
		font-family: "Arial Narrow", "Arial", sans-serif;
		font-weight: 400;
		font-size: 9px;
		line-height: 1.15;
		/* @media (--m) {
			font-size: 32px;
			line-height: 34px;
		} */
	}
	&--m {
		font-family: "Arial Narrow", "Arial", sans-serif;
		font-weight: 400;
		font-size: 24px;
		line-height: 26px;
		/* @media (--m) {
			font-size: 32px;
			line-height: 34px;
		} */
	}
	&--l {
		font-family: "Piscolabis Regular", "Arial Narrow", "Arial", sans-serif;
		font-weight: 400;
		font-size: 48px;
		line-height: 1.15;
		/* @media (--m) {
			font-size: 32px;
			line-height: 34px;
		} */
	}
	&--xl {
		font-family: "Arial Narrow", "Arial", sans-serif;
		font-weight: 400;
		font-size: 64px;
		line-height: 1.15;
		/* @media (--m) {
			font-size: 32px;
			line-height: 34px;
		} */
	}
}

/* Trim https://seek-oss.github.io/capsize/ */

.typo {
	&--xs--trimmed,
	&--xxs--trimmed {
		&::before,
		&::after {
			content: "";
			display: table;
		}
	}
	&--xs--trimmed {
		&::before {
			margin-bottom: -0.236em;
		}
		&::after {
			margin-top: -0.149em;
		}
	}
	&--xxs--trimmed {
		&::before {
			margin-bottom: -0.261em;
		}

		&::after {
			margin-top: -0.174em;
		}
	}
}
